build
imgui.ini
bin
*.exe
*.pdb
.cache
psClang
*.zip
lib/*.lib
lib/Debug
lib/Release
CMakeFiles/
cmake_install.cmake
.ninja_deps
.ninja_log
*.ninja
CMakeCache.txt
src/main/version.h
*.exp
lib/RelWithDebInfo
compile_commands.json
